body{ background-image: url(https://w.forfun.com/fetch/c2/c24c31dc8e46aaaa41bd003e1d8417d0.jpeg);background-repeat: no-repeat;background-size: cover;}
h2 { color: aqua;background-color: rgba(0, 0, 0, 0.377);font-family: 'Rubik Pixels', cursive;}
h1{color: aqua;background-color: rgba(0, 0, 0, 0.404);font-family: 'Rubik Pixels', cursive;}